<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles/style.css">
    <meta charset="UTF-8">
    <title>Profesor</title>
</head>
<header>
    <div class="navigation">
        <a href="index.html">Početna</a>
        <a href="ucenik.html">Učenik</a>
        <a href="profesor.html">Profesor</a>
    </div>
</header>
<body>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Sign In </h2>
        <h2 class="inactive underlineHover">Sign Up </h2>


        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="userName" placeholder="username">
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
            <input formaction="popisIgara.html" type="submit" class="fadeIn fourth" value="Log In">
        </form>


    </div>
</div>

</body>
</html>